/* Index Page CSS */

html {
     background-color: #d2b48c;
     background-image: url(../img/Background_Image.jpg);
     background-position:center;
     background-size:cover;
     background-repeat: no-repeat;
     background-attachment:fixed;
}

div#MainContent {
    background-color: rgba(119,136,153,0.95);
    margin-left: 20%;
    margin-right: 20%;
    /*border: 2px solid gray;*/
    padding: 0px 10px 10px 10px;
    font-family: sans-serif;
}

div#PageHeader {
    text-align: center;
}

p { color: black; }

h2 { border-bottom:1px solid black; }

#sliderObj {
    width: 250px;
    height: 30px;
}

div.SliderDiv {
    border: 2px solid #404040;
    background-color: #727272;
    width: 300px;
    border-radius: 10px;
}

p.SliderP {
    padding: 0% 5%;
}